manifest {
    description = 'BLITSFR external config'
    mainScript = 'main.nf'
}

params {
    reference_genbank = "false"
    tracks_metadata = "false"
    queries_fasta = "false"
    executor = "local"
    cpu_per_task = 2
    max_parallel_jobs = Math.max(1, ((Runtime.getRuntime().availableProcessors() - 1) / params.cpu_per_task).intValue())
}

process {
    executor = "${params.executor}"
    cpus = params.cpu_per_task
    maxForks = params.max_parallel_jobs
    time = "8h"
    errorStrategy = "retry"
    maxRetries = 2
}

timeline {
    enabled = true
    file = "timeline.html"
    overwrite = true
}
trace {
    enabled = true
    file = "trace.txt"
    overwrite = true
}
